node_modules/**
/functions/node_modules/**
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#Log files
firebase-debug.log
firestore-debug.log
database-debug.log
pubsub-debug.log
ui-debug.log
package-lock.json
